@model Projects

<div class="container py-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Delete Project</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" hidden />
                <div class="row">
                    <!--For information-->
                    <div class="col-sm-8">
                        <div class="form-floating pb-3">
                            <input asp-for="Name" disabled class="form-control" />
                            <label asp-for="Name" class=" text-muted ms-2"></label>
                        </div>
                        <div class="form-floating pb-2">
                            <input asp-for="Description" disabled class="form-control" />
                            <label asp-for="Description" class=" text-muted ms-2"></label>
                        </div>
                        <!--Submit and Back button-->
                        <div class="d-flex">
                            <button class="btn btn-primary w-25">Delete</button>
                            <a class="btn btn-secondary w-25 mx-2" asp-action="Index">Back to List</a>
                        </div>
                    </div>

                    <!--For pictures-->
                    <div class="col-sm-4">
                        <img src="@Model.ImageUrl" style="width:100%" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>