@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!--Front Page-->
    <div class="row py-5">
        <!--Who I am-->
        <div class="col-6 pt-5">
            <h1 class="fw-bold title">Hello, I am <br />Thom Y <br /> Web Developer</h1>
            <p>C#, ASP.NET Core, HTML, CSS, Javascript</p>
            <a class="btn btn-primary align-middle py-4">Contact Me -></a>
        </div>
        <!--My picture-->
        <div class="col-6">
            <div>
                <img src="../images/TSquare.jpg" class="myImg"/>
            </div>
        </div>
    </div>
</div>

<!--About Me-->
<div class="bg-white">
    <div class="d-flex">
        <!--My picture-->
        <div class="col-6">
            <div>
                <img src="../images/Thommy.jpg" style="width:100%" />
            </div>
        </div>
        <!--Who I am-->
        <div class="col-6 container" style="padding-right:50px">
            <div class="pt-5">
                <h1 class="fw-bold">ASP.NET Web Developer</h1>
                <p>
                    Hello there, my name is Thom Y. I am a web developer and I&quot;m very passionate and dedicated to my work.
                    I enjoy taking on the challenges of building a web application and is
                    currently looking for ASP.NET developer roles. If you like what you see, please feel free to contact me so that we can set up
                    a time to have a meeting together.
                </p>

                <!--Contact me section-->
                <div class="row pb-3">
                    <form method="post">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h3 class="text-white">Contact Me</h3>
                            </div>
                            <div class="card-body">
                                <!--Name-->
                                <div class="form-floating pb-3">
                                    <input class="form-control" />
                                    <label class="form-label text-muted ms-1">Name</label>
                                </div>
                                <div class="form-floating pb-3">
                                    <input class="form-control" />
                                    <label class="form-label text-muted ms-1">Email</label>
                                </div>
                                <div class="form-floating pb-3">
                                    <textarea type="text" class="form-control" style="height:150px"></textarea>
                                    <label class="form-label text-muted ms-1">Message</label>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Skills-->
<div class="container py-5">
    <div class="row">
        <h1 class="fw-bold text-center text-decoration-underline">My Skills & Tools</h1>
        
        <!--Icons of the skills-->
        <div class="d-flex justify-content-around pt-5">
            <img src="../images/skills/boostrap.png" class="skillLogo"/>
            <img src="../images/skills/html5.png" class="skillLogo" />
            <img src="../images/skills/c-sharp.png" class="skillLogo"/>
            <img src="../images/skills/javascript.png" class="skillLogo"/>
            <img src="../images/skills/NET_Core_Logo.png" class="skillLogo"/>
        </div>
    </div>
</div>
                                