@model Others

<div class="container py-5">
    <div class="card">
        <div class="card-header text-center">
            <!--Check whether to use update or create by the id-->
            <h1 class="py-2">@(Model.Id != 0 ? "Update" : "Create") Others</h1>
        </div>

        <div class="card-body">
            <!--encrypt allows us to use upload files-->
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" hidden /> <!--Need this so the script can check what the id is-->
                <div class="row">
                    <!--For Inputing information-->
                    <div class="col-md-5">
                        <!--Name-->
                        <div class="form-floating pb-3">
                            <input asp-for="Name" class="form-control" />
                            <label asp-for="Name">Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating pb-3">
                            <input asp-for="Links" class="form-control" />
                            <label asp-for="Links">Links/Description</label>
                            <span asp-validation-for="Links" class="text-danger"></span>
                        </div>
                        <!--Picture-->
                        <div class="form-floating">
                            <input asp-for="OtherFiles" class="form-control border-0" />
                            <input asp-for="File" hidden /> <!--Needs this so that we can delete on update-->
                        </div>
                    </div>

                    <!--For displaying Image-->
                    <div class="col-sm-7">
                        <embed src="@Model.File" type="application/pdf" width="700" height="400">
                    </div>
                </div>

                <!--For Submit and Back button-->
                <div class="row d-flex pt-3">
                    <div class="col-sm-6">
                        <!--Submit-->
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">Create</button>
                        }

                        <!--Back Buttom-->
                        <a class="btn btn-secondary" href="@Url.Action("Index","Others")">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}